<div class="container-fluid p-4 ">
  <!-- Condicionar el titulo del formulario: Edición / Registro -->
  <!-- <h2 *ngIf="heroe.id; else newHeroeTitle">Editar Super Heroe: <span class="text-primary">{{ heroe.superhero }}</span></h2>
  <ng-template #newHeroeTitle>Nuevo Super Heroe</ng-template> -->

  <h2>{{ (heroe.id) ? 'Editar' : 'Nuevo' }} Super Héroe <span class="text-primary">{{ heroe.superhero }}</span></h2>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
      <div fxLayout="row" class="mb-4">
        <mat-form-field fxFlex="48">
          <mat-label>Super Héroe</mat-label>
          <input type="text" matInput [(ngModel)]="heroe.superhero" required>
        </mat-form-field>
        <mat-form-field fxFlex="48" class="ms-auto">
          <mat-label>Alter Ego</mat-label>
          <input type="text" matInput [(ngModel)]="heroe.alter_ego" required>
        </mat-form-field>
      </div>
      <mat-form-field fxFlex="100">
        <mat-label>Primera Aparición</mat-label>
        <input type="text" matInput [(ngModel)]="heroe.first_appearance" required>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Personajes</mat-label>
        <input type="text" matInput [(ngModel)]="heroe.characters" required>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Creador</mat-label>
        <mat-select required [(ngModel)]="heroe.publisher">
          <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{ publisher.desc }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Foto URL</mat-label>
        <input type="url" [(ngModel)]=heroe.alt_image matInput required>
      </mat-form-field>
      <br>
      <div class="d-flex justify-content-between">
        <button mat-raised-button color="primary" (click)="guardar()">
          <!-- Condicionar el titulo del botón de formulario: Edición / Registro -->
          <ng-container *ngIf="heroe.id; else newHeroeLabel">
            <mat-icon>edit</mat-icon>
            Editar
          </ng-container>
          <ng-template #newHeroeLabel>
            <mat-icon>plus_one</mat-icon>
            Guardar
          </ng-template>
        </button>
        <!-- El botón de eliminar un super héroe sólo estará dispobible en el formulario de actualización -->
        <button mat-raised-button color="warn" *ngIf="heroe.id" (click)="eliminar()">
          <mat-icon>delete</mat-icon>
          Eliminar
        </button>
      </div>

    </div>
    <div fxFlex="50">
      <img [src]="heroe | imagen" [alt]="heroe.superhero" class="img-fluid">
    </div>
  </div>
</div>

