<h2>Listado de Súper Heroes</h2>


<div fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px">
  <div fxFlex.xl="calc(20% - 20px)"
    fxFlex.lg="calc(25% - 20px)"
    fxFlex.md="calc(33% - 20px)"
    fxFlex.sm="calc(50% - 20px)"
    fxFlex.xs="100"
    class="card-item"
    *ngFor="let heroe of heroes">
    <!-- Los componentes permiten separar responsabilidades, le podemos pasar información por medio de @Input -->
    <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
  </div>
</div>


