<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style]="'background-image: url(assets/heroes/'+ heroe.id +'.jpg); background-size: cover;'"></div>
    <mat-card-title>{{ heroe.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="'assets/heroes/' + heroe.id + '.jpg'" [alt]="heroe.superhero">
  <mat-card-content class="content">
    <h3>{{ heroe.publisher }}</h3>
    <p>
      <strong>Primera aparición:</strong> {{ heroe.first_appearance }}
      <br>
      <strong>Personajes:</strong> {{ heroe.characters }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Leer más</button>
    <button mat-button>Editar</button>
  </mat-card-actions>
</mat-card>
