<div fxLayout="column">
  <div>
    <h2>Buscador de Súper heroes</h2>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="column">
    <h3>Buscador</h3>
    <mat-form-field appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [(ngModel)]="termino"
             [matAutocomplete]="auto"
             (input)="buscando()">
      <mat-autocomplete autoActiveFirstOption
                        #auto="matAutocomplete"
                        (optionSelected)="heroeSeleccionado($event)">
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>
        <mat-option value="" *ngIf="!heroes?.length && termino.trim().length > 0">No se encontró nada con el término: {{ termino}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <app-heroe-tarjeta *ngIf="infoHeroeSeleccionado!" [heroe]="infoHeroeSeleccionado!"></app-heroe-tarjeta>
  </div>
</div>
